body{
    /* background-image: url('pexels-eberhard-grossgasteiger-1366919.jpg'); */
    background-color: #003C43;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.main{
    height: 80vh; 
    background-color: white;
    background: transparent;
    border-radius: 15px;
    border: 0.5px solid white;
    
}

.name{
    color: #77B0AA;
    text-align: center;
}

form{
    font: bold 25px normal;
    color: rgba(13, 27, 38, 0.578);
}

label{
    color: black;
}

form input{
    background: transparent;
    border-color: white;
    border-radius: 5px;
    padding: 0.4rem;
}

button{
    font: small-caps 20px normal;
    width: 120px;
     background: transparent;
    height: 50px;
    border: 3px solid #77B0AA;; 
     cursor: pointer;
}

.bottom{
    margin-top: 10px;
    margin-left: 140px;
}

button:hover{
    background: #77B0AA;;
}

#resultDiv{
    background: floralwhite;
    font-size: 1.2rem;
    width: 90px;
    height: 30px;
    margin-left: 15px;
    text-align: center;
}

#DisplayDiv{
    font: oblique 25px bolder;
    text-align: center;
}
